*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  padding: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  background-color: rgb(255, 255, 255);
  height: 300px;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.containerh1 {
  display: flex;
  gap: 10px;
}

h1 {
  margin-top: 20px;
  font-size: 15px;
  text-align: left;
}

h2{
  font-size: 17px;
  text-align: end;
}


.fa-solid {
  font-size: 70px;
  cursor: pointer;
}

button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: end;
}
